
.coursePage {
  padding: 20px;
}

.courseContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  grid-gap: 20px;
}

@media (max-width: 991px) {
  .courseContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 710px) {
  .courseContainer {
    grid-template-columns: 1fr;
  }
}

