.acc-title{
    color:#384046;
    font-size: 20px;
    font-weight: 600;
    width: 330px;
    height: 48px;
    line-height: 48px;
    align-items: center;
}
.acc-join-title{
    font-size: 10px;
    color:#384046;
    line-height: 48px;
    align-items: center;
}

.acc-subtitle{
    color:#384046;
    font-size: 16px;
    font-weight: normal;
}

.avatar-img{
    height: 80px;
    width: 80px;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    border-radius: 999px;
}

.avatar-change{
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 26px;
    color: #f26c4f;
    text-decoration: underline;
}
.avatar-delete{
    font-size: 12px;
    color: crimson;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}
.inputAcc{
    width: 380px;
    border: solid 2px #dadce0;
    box-sizing: border-box;
    border-radius: 999px;
    font-weight: 700;
    font-size: 13px;
    padding: 10px 20px;
}
.form-select{
    width: auto;
    display: inline-block;
}
.select-wrap{
    width: 380px;
}
@media (min-width: 768px) {
    .acc-sidebar{
        width: 200px;
    }
}
@media (max-width: 768px) {
    .acc-sidebar{
        display: none;
    }
    .e-profile{
        max-width: 428px;
        margin: auto;
    }
    .acc-title{
        width: 150px;
        margin-right: auto;
    }
}