/**
* Card CSS
*/
.card{
  padding: 25px;
  max-width: 314px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transition: all 0.3s ease;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.card-title {
  font-size: 20px;
  font-weight: 600;
}

.card-tag{
  background-color: #0d8502;
}
.card-tag-text{
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Open Sans", serif;
}
.like-text{
  font-size: 16px;
  color: #000000;
  font-weight: bold;
  font-family: "Open Sans", serif;
}

.author-info {
 font-size: 14px;
}

@media (max-width: 991px) {
  .author-info {
    font-size: 10px;
  }
}

@media (max-width: 710px) {
  .author-info {
    font-size: 10px;
  }
}

@media (max-width: 510px) {
  .card{
    width: 100%;
  }
  .author-info {
    font-size: 14px;
  }
}